a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
  }
}

.c-pointer {
  cursor: pointer;
}

#landing {
  min-height: calc(100vh - 160px);
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    max-width: 900px;
    margin: auto;
    text-align: center;
  }
}

.row {
  --bs-gutter-y: 1.5rem;
}

.card,
.card-body {
  height: 100%;
}

.stat-card {
}

.table-container {
  overflow-x: auto;

  table {
    min-width: 900px;
  }
}
